
form.inline_form input {
  display: inline-block;
  width: 30%; 
}
form.inline_form h4{
	
	 display: inline-block;
}
.page-header h1{
	margin-right: 10px;
}
.col-md-5{
	 border-right: 1px solid #C0C0C0;
}
